<p id="notice"><%= notice %></p>
<%= link_to 'Back', posts_path %>
<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @post.title %></h2>
  <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= raw @post.body %></div>
  <div>
    <h2 class="text-center">Comments</h2>
      <% @post.comments.each do |comment| %>
        <p>
          <b><%= comment.user.email %></b> says:
          <%= comment.body %>

          <% if current_user == comment.user %>
            <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
            <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </p>
      <% end %>
    <h3>Add Comment:</h3>
    <%= render 'comments/form' %>
  </div>
</div>
