
<%= link_to 'Back', posts_path %>
<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @post.title %></h2>
  <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= @post.body %></div>
  <div>
    <h3>Comments</h3>
    <% if current_user %>
      <%= link_to "Add new comment", new_post_comment_path(@post) %>
    <% end %>
    <% @post.comments.each do |comment| %>
      <div>
        <time>Updated by <%= comment.user.email %> at <%= comment.updated_at %></time>
        <p><%= comment.body %></p>
        <% if current_user && current_user == comment.user %>
        	<%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
        	<%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
