
<div class="col-sm-12" id="post">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5><%= @post.title %></h5>
        <p><em><%= @post.created_at.strftime('%b %d, %Y') %></em></p>
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class=""><%= link_to 'Back', posts_path %></li>
          <li class="active"><%= link_to 'Post', post_path(@post) %></li>
          <li class=""><a href="#comments" data-toggle="tab" aria-expanded="false">Comments</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <!-- post -->
          <div class="tab-pane fade active in" id="post">
            <p><%= @post.body %></p>
          </div>
          <!-- comments -->
          <div class="tab-pane fade" id="comments">
            <% if current_user %>
              <p class="text-right"><%= link_to "NEW COMMENT", new_post_comment_path(@post), class: "btn btn-xs btn-default" %></p>
            <% end %>
            <% @post.comments.each do |comment| %>
              <div id="comment" class="well well-sm">
                <p>
                  <%= comment.user.name %> on <em><%= comment.created_at.strftime('%b %d, %Y') %></em> said: <br>
                  <%= comment.body %> <br>
                  <% if current_user == comment.user %>
                    <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
                    <%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
                  <% end %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
