<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awanderlyssgirl</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <%= render 'shared/navigation' %>
          </div>
          <div><p id="notice"><%= notice %></p></div>
          <div class="inner cover">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
